body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

#light {
  background-color: rgb(220, 229, 237);
}
#dark {
  background-color: rgb(74, 67, 69);
  color: rgb(220, 229, 237);
}

.pagination {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination:hover {
  cursor: pointer;
}
.page-link {
  width: 100px;
}
#light .page-link {
  background-color: rgb(74, 67, 69);
  color: rgb(225, 218, 218);
}
#dark .page-link {
  background-color: rgb(225, 218, 218);
  color: rgb(74, 67, 69);
  border: solid rgb(56, 53, 54) 1px;
}
.navbar {
  padding: 0 30px;
  background-color: rgb(115, 115, 115);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: end;
}
.navigation > * {
  margin: 10px 20px;
  width: 100px;
  color: rgb(225, 218, 218) !important;
  font-size: 1.2em;
}
.dropdown {
  display: flex;
  justify-content: end;
  margin: 30px 10px 0px;
  padding: 0;
}