.footer-div {
  height: 220px;
  background-color: rgb(39, 37, 37);
  padding: 20px;
  margin-top: 20px;
  color: rgb(225, 218, 218);
}

.footer-div > h4 {
  text-align: left;
  font-family: "Unica One", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}
.footer-content > div {
  text-align: left;
}
.footer-content > div > p {
  cursor: pointer;
}
.footer-signature {
  margin-top: 30px;
}
.footer-signature > a {
  text-decoration: none;
  color: rgb(225, 218, 218) !important;
}
.footer-icons > svg {
  width: 40px;
  height: 40px;
}
.footer-icons {
  margin-left: -5px;
}
